# Python cache
**/__pycache__/**

# Autoconf debris
/Makefile
/autom4te.cache
/config.log
/config.status
/src/Makefile
/src/config.py
/src/webserver/Makefile
/share/Makefile
/client/Makefile

# Sphinx debris
docs/_build/**
!docs/_build/.placeholder
docs/_static/**
!docs/_static/.placeholder
docs/_templates/**
!docs/_templates/.placeholder


# Test install location
install/
tests/elasticc2_test_data
tests/load_snana_fits_reconstruct_indexes_constraints.sql

# Env file
/.env

# Emacs backup files
**~
