# Autoconf debris
/Makefile
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/install-sh
/missing
/src/Makefile
/src/apconfig.py

# Test install location
install/webap
install/sessions
!install/sessions/.placeholder

# Env file
/.env

# Emacs backup files
**~
