# Python cache
**/__pycache__/**

# Autoconf debris
/Makefile
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/src/Makefile
/src/config.py
/src/webserver/Makefile

# Test install location
install/
tests/elasticc2_test_data
tests/load_snana_fits_reconstruct_indexes_constraints.sql

# Env file
/.env

# Emacs backup files
**~
