{% extends 'base.html' %}

{% block head %}
<!-- <link rel="icon" type="image.png" href="static/favicon.png"> -->
<link rel="stylesheet" href="static/fastdb.css">
<script src="static/fastdb.js" type="module"></script>
<script src="static/fastdb_start.js" type="module"></script>
{% endblock %}

{% block title %}FASTDB Web UI{% endblock %}

{% block content %}
  <div name="authdiv" id="authdiv" class="authdiv"></div>

  <h1>FASTDB WEB UI</h1>

  <div name="pagebody" id="pagebody"></div>
{% endblock %}

{% block footer %}
{% endblock %}
