{% extends 'base.html' %}

{% block head %}
<!-- <link rel="icon" type="image.png" href="static/favicon.png"> -->
<link rel="stylesheet" href="static/fastdb.css">
<script src="static/fastdb.js" type="module"></script>
<script src="static/fastdb_start.js" type="module"></script>
{% endblock %}

{% block title %}FASTDB Web UI{% endblock %}

{% block content %}
  <div name="bodydiv" id="bodydiv" class="bodydiv">
    <div name="authdiv" id="authdiv" class="authdiv"></div>
    <div name="pagebody" id="pagebody" class="pagebody"></div>
  </div>
{% endblock %}
